.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

button {
  margin-top: 8px;
  background: #6366f1;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
}

.switch span {
  color: #6366f1;
  cursor: pointer;
  font-weight: bold;
}
