.dialog-container {
  width: 900px;
  max-height: 85vh;
  display: flex;
  flex-direction: column;
}

/* HEADER */
.header {
  padding: 16px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #eee;
}

/* BODY */
.body {
  flex: 1;
  overflow: auto;
  padding: 16px;
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border-top: 1px solid #eee;
}

/* TABLE */
table {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.mat-header-row {
  background: #f3f4f6;
}

.mat-row:hover {
  background: #f9fafb;
}